.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    font-size: larger;
    text-shadow: 1px 2px 3px rgb(34, 199, 236);
    backdrop-filter: blur(4px);
}
img{
    margin-top: 10px;
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 5px,3px,2px,1px black;
}